html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after{
   box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
textarea {
    overflow: hidden;
}

main{
    background-color: #152b39;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset{
    border: 0;
}

fieldset div{
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset > div input[type="text"] {
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-family:'Lato', sans-serif;
    margin-bottom: 1rem;
    padding: 0.7rem;
    resize: none;
    width: 200px;
}

fieldset > div input::-webkit-input-placeholder{
    color:#8F8F8F;
}

#submit{
    background-color: #0081D1;
    border: 0px;
    border-radius: 1px;
    color: #fff;
    font-family:'Lato', sans-serif;
    margin: 0px auto;
    padding: 0.7rem 2rem;
    transition: 0.2s;
}

#submit:hover{
    background-color: #35B16D;
}



.panel {
    background: lime;
}

.level {
    border-bottom: 1px dashed rgb(71, 70, 70);
    padding: 3px 0 3px 5px;
}

.level:hover {
    background-color: white;
    color: black;
}

.handle {
    flex: 1 1 1%;
    background: #FD971F;
}

.tree{
    overflow-y: auto;
    background-color: #152b39;
    width: 220px;
    overflow-x: hidden;
}

.top {
    display: flex;
    flex: 1 1 87%;
    align-content: stretch;
    overflow-y: hidden;
    background: #272822;
    /*justify-content: space-between;*/
}
.bottom {
    flex: 1 1 12%;
    background: #272822;
}

.CodeMirror { 
  border: 0px solid #eee;
  height: 150%;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  viewportMargin: Infinity;
  overflow-x: hidden;
}

